*{
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

header{
    background-image: linear-gradient(to right, black, grey, rgba(0, 0, 0, 0.473), black);
    text-align: center;
    font-size: 2.5vw;
}

main{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.717), red, pink, rgba(0, 0, 0, 0.726));
}

#container{
    margin: 20vw;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 4rem;
    background-color: grey;
    border-radius: 10px;
}

.App{
    display: flex;
    flex-direction: column;
}

.my-form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.my-form > div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

input, button, textarea, select{
    height: 3em;
    border-radius: 3em;
    border-width: 0px;
    padding-left: 2em;
    font-size: 1em;
}

input:valid, textarea:valid{
    background-color: rgba(13, 237, 13, 0.461);
}

input:focus:invalid, textarea:focus:invalid{
    background-color: rgba(255, 0, 0, 0.511);
}

label{
    color: white;
    font-size: 1.3em;
}

textarea{
    padding: 2em;
    resize: none;
}

input:focus, textarea:focus{
    outline: none;
}

input[type="file"]{
    background-color: transparent;
}

button{
    cursor: pointer;
    background-color: rgba(0, 119, 255, 0.463);
}

.interest img{
    height: 1em;
    position: relative;
    top: 0.3em;
    margin-left: 0.5em;
}

.interest-list {
    font-size: 1.5em;
}

.handles img, .education-list img, .skills-list img, .work-list img{
    position: relative;
    top: 0.3em;
    height: 1em;
    margin-right: 0.5em;
}

.handle-display{
    font-size: 2em;
}

.handle-display button{
    position: relative;
    right: 1.5em;
    bottom: 2px;
    font-size: 20px;
    background-color: transparent;
}

.name{
    display: flex;
    flex-direction: column;
}

footer{
    text-align: center;
    background-color: rgb(13, 38, 54);
    padding: 0.8vw;
    color: white;
}

footer a{
    text-decoration: none;
    color: red;
    font-size: 2vw;
}

footer span{
    font-size: 2vw;
    margin-right: 10px;
}

footer img{
    height: 3vw;
    position: relative;
    top: 0.8vw;
    transition: all .5s;
}

footer img:hover{
    transform: rotate(3600deg);
}

.preview{
    border-radius: 1em;
    min-width: 40em;
    margin: 10em;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px,260px));
    grid-template-columns: repeat(auto-fit, minmax(400px, 450px));
}

.name{
    margin-top: 4em;
}

.preview > div{
    padding: 1em;
}

.preview > :nth-child(odd){
    color: white;
    background-color: black;
    margin-left: 5em;
    margin-right: 5em;
}

.preview img{
    height: 2em;
    font-size: 1em;
}

.handle img{
    position: relative;
    height: 2em;
    top: 0.8em;
    margin-right: 1em;
}

.display-picture img{
    border-width: 100px solid white;
    margin: 2.2em;
    height: 10em;
    width: 10em;
    border-radius: 50%;
}

.descp{
    overflow-wrap: break-word;
}

.show{
    visibility: visible;
}

.hide{
    position: absolute;
    visibility: hidden;
    top: 0px;
}